**/bundle.js
**/bundle.js
**/*.vcf
**/*.gz
**/*.tgz
**/*.tsv
**/*.fasta
**/*.json
**/*.bson
**/*.csv
data_load/data_files/
!package.json
!package-lock.json
!mongo-seed/p2t2/kras.json
**/data_load/data_files/*
**/annotation_data/*
**/annotation_data
**/node_modules/*
node_modules
**/.RData
**/.Rhistory
**/__pycache__/*
